@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('fonts/chunkfive.eot');
}
body {
	font-family: Georgia, Times, serif;
	font-size: 12px;
}
h1 {
	font-family: ChunkFiveRegular, Georgia, serif;
	font-size: 200%;
}
h2 {
	font-family: ChunkFiveRegular, Georgia, serif;
	font-size: 1.3em;
}
.credits {
	font-style: italic;
}
